table {
  background-color: #dddddd;
}
.container::-webkit-scrollbar {
  width: 0px !important;
}
.hovShadow {
  -webkit-transition: -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out, box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out, box-shadow 0.1s ease-out, transform 0.1s ease-out;
  margin: 4px;
  padding: 0px !important;
}
.hovShadow:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 30px 5px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 30px 5px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
input:hover {
  -webkit-box-shadow: 0px 0px 50px -10px #00B2EE;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 50px -10px #00B2EE;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 50px -10px #00B2EE;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.datebutton:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 10px 5px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 10px 5px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.testBtn {
  font-size: 42px;
}
.voterDataTh {
  width: 300px;
  text-align: center;
}
.voterDataTd {
  width: 300px;
}
.queryLabel {
  font-size: 1.2em;
}
.loading {
  background-color: #cccccc;
  -webkit-box-shadow: 0px 0px 15px 5px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 15px 5px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 15px 5px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.querySelect {
  width: 30%;
}
thead {
  top: 430px;
  left: 390px;
  position: absolute;
}
.loading {
  opacity: 0.5;
}
p {
  display: inline-block;
}
li {
  display: inline-block;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}
th {
  width: 135px !important;
  background-color: #eeeeee;
}
td {
  width: 135px !important;
}
body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.infScroll{
  height: 500px;
  overflow-y: scroll;
}
.infScroll::-webkit-scrollbar {
    width: 0 !important;
}
.landingOverlay {
  float: top;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* small desktop */
@media all and (max-width: 1200px) {
    .infScroll {
      width: 1024px;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
    .infScroll {
      width: 768px;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    .infScroll {
      width: 650px;
    }
}

.group{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #666;
}

.group-conditions{
    margin-left: 20px;
}

.alert-group{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(192, 152, 83);
    border-color: rgb(251, 238, 213);
    border-color: rgb(220, 200, 150);
}

.condition, .group{
    margin-top: 15px;
    margin-bottom: 15px;
}