<page-header content="vm.header"></page-header>
<div class="">

  <div class="row text-center"> <!-- Sort: LEFT Field select : RIGHT -->

    <div class="text-center" ng-show="!vm.meta || vm.error">
      <h1 class="text-danger" ng-show="vm.error"> {{vm.error}} </h1>
    </div>

    <form>
      <h1 class="text-success" ng-show="!vm.meta">Loading Meta Data...</h1>
      <h1 class="text-success" ng-show="vm.loading">Excecuting Query...</h1>

      <button class="btn btn-default" type="button"  ng-click="vm.addQuery()">Add Query Parameter</button>
      <button class="btn btn-default" type="submit"  ng-click="vm.giveMeData()">Excecute Query</button>

      <div class="queryContainer">
        <div class="queryRow" ng-repeat="(key, value) in vm.qArray track by $index">
          <select class="selectParam queryRowStuff" ng-options="k as k for (k, v) in vm.meta" ng-model="vm.qArray[$index]['param']"></select>
          <select class="selectOperator queryRowStuff" ng-options="v.op as v.name for (k, v) in vm.operators" ng-model="vm.qArray[$index]['op']"></select>
          <input class="queryRowStuff" ng-model="vm.qArray[$index]['value']">
          <button class="btn btn-warning queryRowStuff" ng-click="vm.removeMe($index)" type="button"><span class="glyphicon glyphicon-remove-sign"></span></button>
        </div>
      </div>
    </form>

    <div class="row pageRow" ng-show="vm.data">
      <div class="col-md-12">
        <nav><ul class="pager">
          <li><button class="btn btn-primary" ng-click="vm.prev()">Previous</button></li>
          <li><p class="strong"><strong> Page : {{ vm.page }} of {{vm.pages}} </strong> ({{vm.ngRepStart}} - {{vm.ngRepEnd}} of {{vm.count}})</p></li>
          <li><button class="btn btn-primary" ng-click="vm.next()">Next</button></li>
        </ul></nav>

        <p>Export data to: 
          <button class="btn btn-default">Excel (CSV)</button>
          <button class="btn btn-default">Print View</button>
          <button class="btn btn-default">PDF</button>
        </p>

      </div>
    </div>

  <div class="tableContainer infScroll text-center">
    <!-- Loading overlay -->

    <table id="voterTable" class="" align="center"  ng-show="vm.data">

      <thead>
        <tr>
          <th class="voterDataTh" ng-repeat="(key, header) in vm.fields" ng-show="vm.data[0]">{{ header }}</th>
        </tr>
      </thead>

      <tbody>
        
        <tr ng-repeat="voter in vm.displayData">
          <td class="" ng-repeat="(key, head) in vm.fields">{{ voter[key] }}</td>
        </tr>
      </tbody>

    </table>
  </div>
  
</div>
</div>